@import "colors";
@import "media";
#Internships {
  display: flex;
  align-items: center;
}

#Education {
  display: flex;
  align-items: center;
}

.projects {
  display: grid;
  width: 100%;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  @media (max-width: $screen-lg) {
    padding-top: 200px;
    padding-bottom: 200px;
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $screen-md) {
    padding-top: 100px;
    padding-bottom: 100px;
    grid-template-columns: repeat(1, 1fr);
  }
}
